@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body, .main {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Montserrat;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: lighter;
    color: #3b3b3b;
}

p {
    font-size: larger;
    color: #3b3b3b;
}

a {
    text-decoration: none; 
}

a:hover {
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1.5em;
}

.chip {
    display: inline-block;
    border-color: #7028E5;
    color: #7028E5;
    padding: .4em;
    border-radius: 10px;
    background-color: white;
    border-style: solid;
    font-weight: bolder;
    margin: .5em;
}

.small-container {
    max-width: 30em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

.large-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
}

.responsive-image {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.row-distanced {
    gap: .5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.row {
    gap: .5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.paragraph {
    padding-top: 7em;
}

.paragraph-container {
    padding-top: 10em;
    width: 100%;
}

.paragraph-content {
    padding-top: 1em;
}

.paragraph-title {
    text-align: center;
    color: #7028E5;
    font-weight: bolder;
}

@media (max-width: 956px) {
    .row-distanced {
        justify-content: center;
    }
}

@media (max-width: 830px) {
    .paragraph-container {
        padding-top: 1em;
    }

    .paragraph {
        padding-top: 4em;
    }

    p {
        font-size: medium;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: larger;
    }
    h2 {
        font-size: medium;
    }
}