.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
}

.navbar-container-scrolled {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.navbar-logo {
    width: 4em;
}

.navbar-logo-container {
    padding: 0.5em 0 0 3em;
    display: inline-block;
    vertical-align: middle;
}

.navbar {
    vertical-align: middle;
    display: inline-block;
}

.navbar-list {
    list-style: none;
}

.navbar-list li {
    display: inline;
    margin-right: 4em;
    font-weight: bolder;
}

.navbar-list li a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.navbar-list li:hover {
    color: #7028E5;
}

.navbar-list li:active {
    color: #7028E5;
}

.navbar-button-active {
    color: #7028E5;
}

@media (max-width: 830px) {
    .navbar-container {
        display: none;
    }
}